<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Stock Analysis</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="main.css" />
    <script src="render.js" defer></script>
  </head>
  <body>
    <div class="block">
      <input
        class="input is-primary"
        type="text"
        placeholder="Primary input"
        id="primary-input"
      />
      <button class="button is-primary" onclick="">Primary</button>
    </div>
    <div id="content-container" class="block"></div>
  </body>
</html>
